html {
    color: #333333;
    line-height: 1.7;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    min-width: 960px;
    scroll-behavior: smooth;
}


.blue-bkg {
    background: #2E5DA4;
}
.blue-soft-bkg {
    background: #EAEFF6;
}

.container-fluid > .row {
    margin: 0 auto;
}

a.nav-link {
    padding: 35px 20px;
    color: white;
    font-weight: 100;
}
a.nav-link:hover {
    color: white;
    text-decoration: underline;
}
.navbar-brand img {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 30px;
}

#top-container {
    color: #fff;
    padding-top: 30px;
}

#top-container .row {
    padding: 0px 150px;
}

#top-container p {
    font-style: normal;
    font-weight: 100;
    font-size: 19px;
    line-height: 160%;
    /* or 35px */

    text-align: justify;
}

.mobile-image-top img {
    background-size: cover;
    height: 400px;
}
/*.mobile-top {*/
    /*background-image: url("../screens/mobile-top.png");*/
    /*height: 536px;*/
    /*background-size: cover;*/
/*}*/
#video-container {
    padding: 100px 0;
}
#video-container .iframe-container {
    margin: 0 auto;
    text-align: center;
}

#video-container .row {
    padding: 0 50px;
}

.download-app-container {
    text-align: center;
}

.download-app-container p {
    font-size: 22px;
}
.email-from-container {
    text-align: center;
    margin-top: 50px;
}

.email-from-container form {
    margin-top: 24px;
}
.email-from-container .success-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    padding-left: 5px;
}

.email-from-container input {
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.beta-tester-container {
    margin-top: 20px;
}
.image-mobile-download img{
    width: 90%;
}
.app-icons-container {
    margin-top: 35px;
}
/*.app-icons-container img {*/
/*    margin: 0 60px;*/
/*}*/
#social-container .row {
    padding: 140px 0;
}
#social-container h1 {
    text-align: center;
    font-size: 40px;
    color: #2E5DA4;
    margin-bottom: 20px;
}
#social-container .share-inside-container {
    float: left;
    padding: 20px 128px;

}
.fb-share-button {
    margin-left: 40%;
}

#how-container {
    padding: 30px 0;
    text-align: center;
}

#how-container p {
    text-align: left;
    margin-top: 25px;
    font-size: 16px;
}
.dont-span {
    background-color: #ABBEDB;
}

#anonymous-container p {
    font-size: 16px;
}
#anonymous-container h1 {
    text-align: center;
}
#working-with-container {
    padding: 100px 0;
    text-align: center;

}
#working-with-container p{
    text-align: left;
}
#about-container, #protect-container, #help-container, #contact-container {
    padding: 100px 0;
}
#about-container h1, #help-container h1 {
    text-align: center;
}
